fastapi
uvicorn
sqlalchemy
sqlalchemy.orm
python-jose[cryptography]
passlib[bcrypt]
python-multipart
email-validator
feedparser
requests
praw
python-dotenv
chromadb
sentence-transformers
groq
google-genai
streamlit 
apscheduler